scratch*

# Data, database
*.csv
*.sqlite
data/

# Documentation generated for the repo
/site/

# IDE settings
*.code-workspace
.history
.idea
.vscode/

# Jupyter checkpoints, converted notebooks
*.html
.ipynb_checkpoints
html/

# Mlflow data
mlruns/

# Python bytecode
__pycache__/

# Ruff linter cache
.ruff_cache

# Virtual environment
.venv/
